<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><a routerLink="/"><i class="fa fa-spotify green"></i> Spotify App</a></h3>
          <navbar></navbar>
        </div>
      </div>
      <div class="inner cover">
        <router-outlet></router-outlet>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Made with <i class="fa fa-heart red"></i> by David León</p>
        </div>
      </div>
    </div>
  </div>
</div>
