.masthead-brand a:hover {
  text-decoration: none;
}

.results {
  transition: all 0.5s ease;
  max-height: 412px;
  overflow: auto;
  padding: 15px;
}

.artist-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.artists-thumb {
  width: 96px;
  height: auto;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
}

.artist-thumb {
  width: 55px;
  height: auto;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
}

.artist-albums {
  max-height: 400px;
  overflow: auto;
  padding: 20px;
}

.artist-albums h6 {
  margin-top: 5px;
}

.artist-albums .card {
  margin-bottom: 20px;
  overflow: auto;
  min-height: 290px;
}

.album {
  text-align: center;
  background-color: #292929;
  padding: 10px 20px;
  border: 1px solid #1d1d1d;
  border-radius: 7px;
}

.green {
  color: #1ED760;
}

.red {
  color: #d9534f;
}
