.masthead-brand a:hover {
  text-decoration: none;
}

.results {
  transition: all 0.5s ease;
  max-height: 412px;
  overflow: auto;
  padding: 15px;
}

.artist-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.artists-thumb {
  width: 96px;
  height: auto;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
}

.artist-thumb {
  width: 55px;
  height: auto;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
}

.artist-albums {
  max-height: 400px;
  overflow: auto;
  padding: 20px;
}

.album-thumb {
  margin-bottom: 17px;
}

.green {
  color: #1ED760;
}

.red {
  color: #d9534f;
}
