.masthead-brand a:hover {
  text-decoration: none;
}

.results {
  transition: all 0.5s ease;
  max-height: 412px;
  overflow: auto;
  padding: 15px;
}

.artist-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.artists-thumb {
  width: 96px;
  height: auto;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
}

.artist-thumb {
  width: 55px;
  height: auto;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
}

.artist-albums {
  max-height: 400px;
  overflow: auto;
  padding: 20px;
}

.artist-albums h6 {
  margin-top: 5px;
}

.artist-albums .card {
  margin-bottom: 20px;
  overflow: auto;
  min-height: 290px;
}

.tracks-container {
  max-height: 255px;
  overflow: auto;
}

.album-header {
  margin-bottom: 25px;
}

.album-card {
  text-align: center;
  background-color: #292929;
  padding: 10px 20px;
  border: 1px solid #1d1d1d;
  border-radius: 7px;
}

.track-card {
  background-color: #292929;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #1d1d1d;
  border-radius: 7px;
}

.track-card h6 {
  margin: 0;
  padding: 0;
}

.album-thumb {
  width: 100%;
}

.green {
  color: #1ED760;
}

.red {
  color: #d9534f;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
